@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.headerContainer {
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-rightText {
  font-family: "Hind";
  font-size: 1.5rem;
  font-weight: 600;
}
.hamburgerIcon {
  height: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hamburgerContainer {
  display: flex;
  flex-direction: column;
  height: 40px;
}
.hamburger {
  height: 2px;
  width: 30px;
  background: black;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease-in-out;
}
.hamburger-top {
  height: 2px;
  width: 24px;
  margin-bottom: 4px;
  background: black;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.hamburger-bottom {
  height: 2px;
  width: 15px;
  margin-top: 4px;
  background: black;
  justify-content: center;
  align-items: center;
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.hamburger-top.open {
  margin-bottom: -4px;
  transform: rotate(45deg);
  width: 30px;
}
.hamburger-bottom.open {
  margin-top: 0px;
  transform: rotate(-45deg);
  width: 30px;
}
.hamburger.open {
  width: 0px;
}

